* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0;
}

:root {
    --primary--box-shadow: #f039;
}

body {
    background-color: rgb(244, 244, 244);
    counter-reset: ziad;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

body::selection {
    background-color: #f0394a;
    color: #eee;
}

.container {
    background-color: rgb(244, 244, 244);
    display: flex;
    justify-content: center;
    height: 100%;
}

head {
    display: flex;
    align-items: center;
}
nav {
    padding: 15px 80px;
    width: 90%;
    display: flex;
    margin: 20px auto;
    justify-content: space-between;
    background-image: linear-gradient(#eee ,rgb(255, 255, 255));
    border-radius: 15px;
    box-shadow: #ddd 0 0 8px 2px;
}

nav .logo {
    font-size: 35px;
    font-weight: 700;
    color: #f0394a;
}

ul a {
    color: rgba(0, 0, 0, 0.607);
}

ul a:hover {
    color: #212121;
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

ul li{
    display: flex;
    margin-left: 15px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

nav  a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
}

nav .button {
    left: 15px;
    /* bottom: -30%; */
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: #212121;
    border: 2px solid #f0394a;
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
    box-shadow: var(--primary--box-shadow) 0 0 8px 2px;
}

.button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: #f0394a;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
    scale: 3;
}

.button:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: var(--primary--box-shadow) 0 0 8px 2px;
}

.button:active {
    scale: 1;
}

.container .content {
    display: flex;
    width: 400px;
    height: 320px;
    background-color: #fff;
    border: 15px solid #ff00006d;
    position: relative;
    top: 50%;
    transform: translatey(-75%);
    margin: 0 150px;
}

.container .content .mekky {
    filter: brightness(1.1);
    height: 220px;
    transform: translate(-71px, 30px);
    border-radius: 8px;
    animation: up-down 1.6s alternate-reverse ease-in-out infinite;
}

.text {
    transform: translateY(-20px);
}

.text h1 {
    margin-top: 40px;
    font-size: 45px;
    line-height: 48px;
}

.square {
    width: 15px;
    height: 15px;
    background-color: initial;
    border: 2.2px solid #ff00006d;
}

.square::after {
    content: "";
    width: 50px;
    height: 15px;
    color: transparent;
    background-color: initial;
    display: flex;
    position: relative;
    top: -10px;
    left: 5px;
    border-bottom: 2.2px solid red;
}

.text h4 {
    position: relative;
    left: 70px;
    top: -16px;
    color: #f0394a;
}

.text .pp {
    color: gray;
    font-weight: 500;
    line-height: 28px;
    width: 550px;
}

.parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box {
    position: relative;
    width: 160px;
    height: 140px;
    border: 2px solid grey;
    display: flex;
    justify-content: end;
}

.box::after {
    content: "";
    width: 0px;
    height: 0px;
    background-color: transparent;
    border-color: #f0394a #f0394a transparent transparent;
    /* border-top: 30px solid #f0394a; */
    /* border-right: 30px solid #f0394a; */
    border-width: 12px;
    border-style: solid;
    position: absolute;
    right: 0;
    margin: 4px;
}

.box::before {
    content: counter(ziad);
    font-size: 45px;
    font-weight: bold;
    counter-increment: ziad;
    position: absolute;
    /* opacity: ; */
    color: #ddd;
    bottom: 4px;
    display: flex;
    justify-content: end;
    align-items: center;
    left: 115px;
}

.box:hover {
    border: #f0394a 2px solid;
    /* background-color: rgb(200, 200, 200); */
    transform: translateY(-7px) rotate(1.2deg);
    transition: all .8s cubic-bezier(0.23, 1, 0.320, 1);
    box-shadow: var(--primary--box-shadow) 0 0 8px 2px;
}

.parent .shoes,
.workout,
.result {
    padding: 10px;
    width: 140px;
    height: 110px;
}

.box p {
    position: absolute;
    text-align: center;
    width: 160px;
    bottom: 15px;
    font-weight: bold;
}

@keyframes up-down {
    from {
        transform: translate(-71px, 30px);
    }
    to {
        transform: translate(-71px, 40px);
    }
}